.App {
    height: 100vh;
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.top_area{
    height: 300px;
    position: relative;
}
.lantern_area{
    position: absolute;
    left: 0;
    top: 0;
    width: 800px;
    height: 300px;
}
.tag_area{
    position: absolute;
    right: 0;
    top: 0;
    width: 800px;
    height: 300px;
}